{% block main %}

<div class="box">
    <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
            <li class="active"><a href="#Recherche" data-toggle="tab"><i class="icon-cog"></i> <span>Recherche</span></a></li>
        </ul>

        <div class="title"></div>
    </div>

    <div class="box-content padded">
        <div class="tab-content">
            <div class="tab-pane active" id="Recherche">
                {% include 'GestimeRapportsBundle:nonExcuses:templates/tplListe.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock  %}
