      <div class="widget">
        <div class="widget-header clearfix">
          <h3><i class="icon ion-map"></i> <span>Mes visites aujourd'hui</span></h3>
          <span class="label label-blue pull-right" style="margin-top: 15px;">{{visites|length}}</span>
        </div>
        <div class="widget-content no-padding">
          <div class="google-map">
            <div id="map-canvas">
            </div>
          </div>
        </div>
      </div>
