      <div class="portlet portlet-today portlet-orange">
        <h3>Votre secrétariat vous informe</h3>
        Vous pouvez donner à vos patients la possibilité de prendre rendez-vous 24h/24 par internet avec le site <a href="https://www.doc24.fr">https://www.doc24.fr</a>.
      </div>
